
QSeparator {
    background: palette(light);
}

QPushButton {
    background: palette(mid);
    border-radius: 4px;
}

QIconButton {
    qproperty-iconcolor: palette(button-text);
}

QPushButton:hover {
    background: palette(light);
}

QPushButton:pressed {
    background: palette(mid);
}

QToastWidget {
    background: transparent;
    border: none;
    padding: 10px;
    margin: 0;
}

    /* Цвета настраиваются в классе, нужно для работы анимации */
    QToastWidget QToastMessage {
        border-radius: 8px;
        padding: 10px 15px;
    }

        QToastWidget QToastMessage #TimeLabel {
            font-size: 10pt;
        }

        QToastWidget QToastMessage #MessageLabel {
            font-size: 14pt;
        }

QOverlayWidget {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 palette(dark), stop:1 palette(highlight));
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0;
    margin: 0;
}

QMainWidget {
    background: palette(dark);
    border: 1px solid palette(mid);
    border-radius: 0;
    padding: 0;
}

    QMainWidget ButtonsGroup {
        border: none;
        margin: 0;
        padding: 0;
    }

        QMainWidget ButtonsGroup QPushButton, QMainWidget ButtonsGroup QEmpty {
            min-width: 25px;
            max-width: 25px;
            min-height: 25px;
            max-height: 25px;
            padding: 0;
            margin: 0;
        }

    QMainWidget QDateTimeWidget {
        border: none;
        margin: 0;
        padding: 0;
    }

        QMainWidget QDateTimeWidget #TimeLabel {
            font-size: 30pt;
        }

        QMainWidget QDateTimeWidget #DateLabel {
            font-size: 20pt;
        }

QToolTip {
    border-radius: 4px;
    padding: 8px;
    font-size: 11pt;
    opacity: 240;
}

QDialog {
}

    QDialog QTabWidget {
    }

    QDialog QTextEdit {
        padding: 10px;
        font-size: 12pt;
    }

    QDialog QTimeEdit, QDialog QDateTimeEdit {
        font-size: 10pt;
    }

    QDialog QPushButton {
        min-width: 80px;
        min-height: 25px;
        font-size: 10pt;
        padding: 3px 10px;
        margin: 3px 0px;
    }

        QDialog QPushButton#QuickTimerButton {
            font-size: 12pt;
        }

    QDialog QListWidget {
        min-width: 80px;
        min-height: 25px;
        font-size: 10pt;
        padding: 3px 10px;
        margin: 3px 0px;
    }

        QDialog QListWidget QAbstractItemView {
            min-width: 80px;
            min-height: 25px;
            font-size: 10pt;
            padding: 3px 10px;
            margin: 3px 0px;
        }
